@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Do you know the mascot of <a href="https://github.com">GitHub, the Octocat!!</a></h1>
    <p>Below, you can check out a random version of this beautiful mascot, which is available on the <a href="https://octodex.github.com/">Octodex</a></p>
    <p>And if you liked it, and want to create your own version of the Octocat, you can do it on <a href="https://myoctocat.com/">My Octocat</a></p>
    <img src= "@Model.octoImage" />
</div>
